body{
    padding: 0;
    overflow-x: hidden;
}


/* styling for the header */
.top {
    height: 3em;
    background-color: #009EDC;
    display: flex;
    justify-content: center;
}


/* styling for dropdown menus inside header */
.dropbtn {
    background: #009EDC;
    color: white;
    border: none;
    height: 3em;
    min-width: 7rem;
    text-align: center !important;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    color: #009EDC;
    visibility: hidden;
    position: absolute;
    background: white; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.dropdown-content a {
    color: #009EDC;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition-duration: 0.2s;
}

.dropdown:hover .dropbtn {
    background: white;
    color: #009EDC;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
.dropdown-content a:hover {
    color: white !important;
    background: #009EDC;
}

/* styling for SVG tag */
.thisisSVG {
    border: 3px black solid; 
    margin: 10px;
    height: 180px;
    width:  360px;
}

.example {
    margin: 0.5rem;
    align-items: center;
}

#tooltip {
    background: white;
    border: 1px solid black;
    padding: 10px;
    position: absolute; 
    display: none;
}   

#svg-container {
    display: flex;
    justify-content: center;
}

/* disabled class for unselected vlan */
.disabled {
    pointer-events: none;
    opacity: 0.5;
}

#svg-container {
    display: flex;
    justify-content:flex-start;
    margin: 30px;
}

@media only screen and (max-width: 1100px) {
    #svg-container {
        flex-wrap: wrap;
    }
    .right {
        align-self:center;
    }
    .left { 
        align-self: center;
    }
}

@media only screen and (min-width: 1100px) {
    #svg-container {
        margin-top: -180px;
    }
}

@media only screen and (min-width: 1200px) {
    #svg-container {
        margin-top: -150px;
    }
}

@media only screen and (min-width: 1300px) {
    #svg-container {
        margin-top: -100px;
    }
}

@media only screen and (min-width: 1400px) {
    #svg-container {
        margin-top: -60px;
    }
}

@media only screen and (min-width: 1500px) {
    #svg-container {
        margin-top: -40px;
    }
}

@media only screen and (min-width: 1600px) {
    #svg-container {
        margin-top: -20px;
    }
}

@media only screen and (min-width: 1700px) {
    #svg-container {
        margin-top: 0;
    }
}

@media only screen and (min-width: 1800px) {
    #svg-container {
        margin-top: 30px;
    }
}